h1, h2 {
    color: purple;
}
 
p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 
}
 
header, footer {
    border-style: solid; border-color: purple;
    padding: 10px;
    text-align: center;
}
 
nav {
    background-color: #f2f2f2;
    border-color: chartreuse;
}
 
main {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: #fafafa;
}